@import '../1-base/variables';

.btn {
  border: none;
  padding: $spacing-sm $spacing-lg;
  border-radius: $radius-pill;
  cursor: pointer;
  font-size: $font-size-s;
  line-height: $line-height-s;
  font-weight: $font-weight-medium;
  white-space: nowrap;

  &--primary {
    background-color: $color-primary;
    color: #ffffff;
    transition: all 0.2s ease;

    &:hover {
        background: #552479;
    }
  }

    &--secondary {
        background-color: #ffffff;
        color: $color-primary;
        border: 1px solid $color-primary;
        transition: all 0.2s ease;

    &:hover {
        background: #D2B4E8;
        color: darken($color-primary, 8%);
    }
}

    &--filters {
        background-color: #E9EDF7;
        color: $color-text-filters;
        border-radius: 8px;
        padding: 8px 16px;
        gap: 8px;
        border: none;

        &:hover {
            color: darken($color-text-filters, 8%);
            background: #ADB5BD;
        }
    }
}