@import '../1-base/variables';

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: $spacing-lg;

    &__title {
        font-size: $font-size-title;
        line-height: $line-height-title;
        font-weight: $font-weight-medium;
        color: $color-primary;
    }

    &__actions {
        display: inline-flex;
        align-items: center;
        gap: $spacing-md;
    }
}