@import '../1-base/variables';


.sidebar {
  position: relative;
  width: 112px;
  min-height: 100vh;
  background-color: $color-bg-sidebar;
  border-radius: 0 48px 48px 0;
  z-index: 20;

    // header + arrow
    &__header {
        position: relative;
        height: 64px;
    }

    &__logo-img {
        position: absolute;
        top: -10px;
        left: -40px;
        width: 36px;
        height: 30px;
    }

    &__toggle {
        position: absolute;
        top: -8px;
        left: 18px;
        background: transparent;
        border: none;
        padding: 0;

        &-icon {
            width: 24px;
            height: 24px;
        }

        img {
            transition: opacity 0.2s ease, transform 0.2s ease;
        }

        &:hover {
            cursor: pointer;
            img {
            opacity: 0.7;
            transform: scale(1.08);
            }
        }
    }

    // sidebar icons
    &__nav {
        position: absolute;
        top: 203px;
        left: 32px;
    }

    &-nav {
        display: flex;
        flex-direction: column;
        gap: 24px;

    &__item {
        width: 48px;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 11px;
        transition: background 0.2s ease;

    img {
        transition: opacity 0.2s ease, transform 0.2s ease;
    }

    &--dashboard:hover,
    &--activity:hover,
    &--favorites:hover {
        background-color: #552479;
        cursor: pointer;
        img {
        opacity: 0.7;
        transform: scale(1.08);
        }
  }

    &--profile:hover {
        background: none !important;
        cursor: default !important;
    }
}

    &__icon {
        width: 24px;
        height: 24px;
        display: block;
    }

    &__item--profile &__icon-box {
        width: 48px;
        height: 48px;
        border-radius: 8px;
        background-color: #5A1E8A;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

    // settings icon
    &__settings {
        position: absolute;
        bottom: 24px;
        left: 50%;
        transform: translateX(-50%);
        width: 48px;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 11px;

        background: transparent;
        border: none;
        padding: 0;
        cursor: pointer;
        transition: background 0.2s ease;

    &-icon {
        width: 24px;
        height: 24px;
        display: block;
    }

    img {
        transition: opacity 0.2s ease, transform 0.2s ease;
    }

    &:hover {
        background-color: #552479; // igual aos outros ícones
        img {
            opacity: 0.7;
            transform: scale(1.08);
        }
    }
  }
}