.app {
  min-height: 100vh;
  display: flex;
  background-color: transparent;
}

.main {
  position: relative;
  flex: 1;
  padding: 54px 64px 67px 38px;
  margin: auto;
  background-color: $color-bg-page;
  border-radius: 48px;
  box-shadow: $shadow-soft;
}

// Right sidebar button
.page-arrow {
  position: absolute;
  top: 12%;
  right: 0;
  transform: translateY(-50%);

  width: 45px;
  height: 92px;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0;
  border: 0;
  border-radius: 24px 0 0 24px;
  background-color: #FFFFFF;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  z-index: 12;

  &:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, .15);
  }

  &__icon {
    width: 40px;
    height: 40px;
    position: relative;
  }
}