.app {
  min-height: 100vh;
  display: flex;
  background-color: $color-bg-page;
}

.main {
  position: relative;
  flex: 1;
  padding: 54px 72px 40px;

  &-container {
    position: relative;
  }
}

.page {

  &-arrow {
    position: absolute;
    bottom: 750px;
    left: 1360px;
    width: 65.5px;
    height: 92px;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0;
    border: 0;
    border-radius: 24px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    cursor: pointer;

  &:hover {
    transition: left 0.2s ease;
    box-shadow: 0 4px 12px rgba(0,0,0,.15);
    cursor: pointer;
  }

  &__icon {
    width: 40px;
    height: 40px;
    position: relative;
    right: 10px;
  }

  &-title {
    font-size: 32px;
    line-height: 40px;
    font-weight: 500;
    color: $color-primary;
    position: absolute;
    top: 54px;
    left: 157px;
    width: 584px;
    height: 40px;
    }
}
}