@import '../1-base/variables';

.app {
  min-height: 100vh;
  display: flex;
  background-color: transparent;
}

.main {
  position: relative;
  flex: 1;
  padding: 54px 64px 67px 38px;
  margin: auto;
  background-color: $color-bg-page;
  border-radius: 48px;
  box-shadow: $shadow-soft;

  // resize when right sidebar expands/collapses
  transition: margin-right 0.3s ease;
}